.container {
  display: flex;
  align-items: center;

  border: 0.2em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: rgba(0,0,0,0.01)
}

.selected {
  border-style: solid;
  border-color: cornflowerblue;
}


.image {
  width: 100%;
}