.featureSelector {
  display: flex;
  width: 100%;
}

.feature {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: rgb(170,170,170);
  border-radius: 0.2em;
  margin-right: 1em;  
}

.selected {
  color: white;
  background-color: rgb(50,50,50);
}