.sidebar {
  border-right: 0.1em solid #282c34;
  left: 0em;
  width: 25%;
  max-width: 25em;
  height: 100%;
  float: left;
}

.product {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  font-weight: 900;
}

.selected {
  color: white;
  background-color: #3f424a;
}