
.imageDiv {
  position: relative;
  text-align: center;
}

 .featureDiv {
  position: absolute;
  left: 50%;
  top: 50%;
}


.feature {
	color: white;
	font-size: 3em;
	z-index: 999;
	text-align: center;
  transform: translate(-55%, -65%);
}

.heartDiv {
  width: min-content;
}

.heartImage {
  width: 100%;
}
